:root {
  --margin: 2.4rem;
  --margin--mobile: 1.8rem;

  --font-size--body: 1.8rem;
  --font-size--body--mobile: 1.6rem;
  --font-size--body--print: 1.2rem;
  
  --line-height: calc(1.3 * var(--font-size--body));

  --font-size--nav: 3.2rem;
  --font-size--nav--mobile: 2.2rem;

  --typography--size: var(--font-size--body);

  --color--background: #f8f9fa;
  --color--gray: #EFEFEF;
  --color--content: #00F;
  --color--content--secondary: #000;

  --skew: 1.5deg;
  --skew--mobile: .75deg;

  --schedule--grid: minmax(0, 1fr) minmax(0, 8fr) minmax(0, 2fr);
  --schedule--cell--padding: calc(.5 * var(--margin));
  --schedule--cell--padding--mobile: calc(.25 * var(--margin));
  --schedule--grid--mobile: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
}

@media screen and (max-width: 820px) {
  :root {
    --font-size--body: var(--font-size--body--mobile);
    --font-size--nav: var(--font-size--nav--mobile);
    --skew: var(--skew--mobile);
    --margin: var(--margin--mobile);
    --schedule--grid: var(--schedule--grid--mobile);
    --schedule--cell--padding: var(--schedule--cell--padding--mobile);
  }
}

@media print {
  :root {
    --font-size--body: var(--font-size--body--print);
  }
}

/* Reset */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--color--background);
  color: var(--color--content--secondary);
}

body {
  font-family: 'Times New Roman', serif;
  font-size: var(--font-size--body);
  line-height: var(--line-height);
}

html, body,
h1, h2, h3, p, 
ul, li,
dl, dt, dd, figure {
  margin: initial;
  padding: initial;
}

ul {
  list-style: none;
}

ul li::before {
  content: '→';
  width: 2.5rem;
  margin-left: -2.5rem;
  display: inline-block;
}

ul li {
  margin-left: 2.5rem;
}

.ui {
  font-family:'Arial', sans-serif;
}

.center {
  text-align: center;
}

/* Nav */
select{
	font-size: var(--font-size--nav);
	left: var(--margin);
  top: var(--margin);
  z-index: 1;
  position: fixed;
	cursor: pointer;
  background-color: white;
  color: var(--color--content);
}

/* Content */
.layout-wrapper {
  overflow-y: hidden;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(3 * var(--margin));
  padding-bottom: calc(3 * var(--margin));
}

.content {
  padding: calc(2 * var(--margin));
  margin: var(--margin);
  background-color: var(--color--gray);
  transform: skew(var(--skew), var(--skew));
  color: var(--color--content);

  column-count: var(--column--count, 1);
  column-gap: var(--margin);
}

/* Schedule */
.schedule {
  display: grid;
  grid-template-columns: var(--schedule--grid);
  color: var(--color--content--secondary);
}

.schedule > div,
.schedule__week__link > div {
  --color--outline: var(--color--content);

  padding: var(--schedule--cell--padding);
  outline: 1pt solid var(--color--outline);
  margin-top: 1px;
  margin-left: 1px;
}

.schedule__unit {
  grid-column: span 3;
}

.schedule__week__link {
  grid-column: span 3;
  width: 100%;
  display: grid;
  grid-template-columns: var(--schedule--grid);
  text-decoration: none;
  color: currentColor;
}

.schedule__week__link:hover {
  color: white;
  background-color: var(--color--content);  
}

.schedule__week__link:hover > div {
  --color--outline: white;
}

.schedule__week__link:hover .schedule__day.next {
  color: black;
}

.schedule__day.next {
  background-color: yellow;
}

/* Markdown */
.text {
  word-break: break-word;
}

.text *:first-child,
.text p + ul,
.text p + ol,
.text li > ul,
.text li > ol,
.text h3 + p,
.text h3 + ul,
.text h3 + ol {
  margin-top: initial;
}

.text p,
.text figure,
.text ul,
.text ol {
  margin-top: var(--line-height);
}

.text h1,
.text h2,
.text h3,
.text hr {
  text-transform: uppercase;
  margin-top: calc(2 * var(--line-height));
  font-size: inherit;
  font-weight: bold;
}


.text hr {
  border: 0.5px solid var(--color--content);
  opacity: 47%;
}